[Unit]
Description=BlockID: check public IP at boot and every 15 minutes

[Timer]
OnBootSec=30s
OnUnitActiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
